.list {
  gap: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding: 20px 0;
  overflow-x: scroll;
  flex-wrap: wrap;
  transition: height 0.5s linear;
  li {
    max-width: 185px;
    position: relative;
  }
  li:hover {
    scale: 1.1;
    transition: 0.5s ease-in-out;
  }
}

.rate {
  height: 50px;
  width: 70px;
  background-color: rgba(165, 162, 73, 0.857);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 5px;
  height: max-content;
  position: absolute;
  border-radius: 70px;
  bottom: 15%;
  left: 5px;
  vertical-align: baseline;
  z-index: 2;
  color: white;
  font-weight: bold;
}

.moviePoster {
  height: 275px;
}

.notFoundImage {
  width: 185px;
  height: 275px;
}
