:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000be;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h2 {
  font-weight: bolder;
  font-size: 35px;
  text-shadow: 2px 2px 5px rgb(13, 13, 11);
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  height: auto;
}
